<h1 mat-dialog-title>Création :</h1>
<div mat-dialog-content>
  <p>Créer votre rendez vous : </p>
  <mat-form-field>
    <mat-label>Nom rendez vous :</mat-label>
    <input matInput [(ngModel)]="data.name" [formControl]="nameCtrl">
    <mat-error *ngIf="nameCtrl.hasError('required')">
      Veuillez remplir le champ
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mail rendez vous :</mat-label>
    <input matInput [(ngModel)]="data.mail" [formControl]="mailCtrl">
    <mat-error *ngIf="mailCtrl.hasError('required')">
      Veuillez remplir le champ
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type de RDV</mat-label>
    <mat-select [formControl]="typeCtrl">
      <mat-option *ngFor="let type of types" [value]="type.value"
                  (onSelectionChange)="onSelectionChangeType(type.viewValue)">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="typeCtrl.hasError('required')">
      Veuillez remplir le champ
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choisir une date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="dateCtrl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [(ngModel)]="data.date"></mat-datepicker>
    <mat-error *ngIf="dateCtrl.hasError('required')">
      Veuillez choisir une date
    </mat-error>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [disabled]="!addForm.valid" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
